/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 ene. 2021, 12:52:50
    Author     : matomas
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    
}
body{
    display: grid;
    
}
.contenido{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "introduccion formulario formulario";
    background-color: #047aed;
    color: white;
    height: 70%;
}
.introducción{
    grid-area: introduccion;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.introducción h1{
    font-family: 'Potta One', cursive;
}
.introducción h2{
    font-family: 'Xanh Mono', monospace;
}
.formulario{
    grid-area: formulario;
    background-color: white;
    color: #047aed;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-left: 20%;
    
}
.lineaformulario{
    padding: 15px;
    grid-row-gap: 1em;
}

#cabecera{
    /*border: 2px red solid;*/
    background-color: #047aed;
    color: white;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "imagen titulo titulo";
    padding-top:3%;
}
#cabecera img{
    grid-area: imagen;
    padding-left:5%;
    padding-right: 10%;
    
}

#menu{
    /*border: 1px blue solid;*/
    background-color: #047aed;
}
#menu ul{
    display: flex;
}
#menu ul li{
    padding: 0.5em;
    /*border: 1px black solid;*/
}
#menu a:hover{
    color:white;
    border-bottom: 1px white solid;
}
#menu a:visited{
    color: white;
}
#menu ul li:hover{
    background-color: #0a70d3;
}

.pie{
    color: white;
    background-color: #002240;
    
}
.pie .contenedor_pie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.pie .contenedor_pie h1{
    font-size: 1em;
}
.pie .contenedor_pie h2{
    text-align: center;
    font-size: 0.7em;
}
.pie a:hover{
    background-color: #0a70d3;
}
.pie a:visited{
    color: white;
}
    

.pie .social a{
    text-decoration: none;
}
